service_name           = ""
service_stage          = ""
aws_region             = ""
aws_access_key_id      = ""
aws_secret_access_key  = ""
aws_availability_zones = []
api_docker_image       = ""
rds_db_name            = ""
rds_username           = ""
rds_password           = ""
app_name               = ""
app_stage              = ""
