app_prefix               = ""
app_name                 = ""
aws_region               = ""
aws_access_key_id        = ""
aws_secret_access_key    = ""
aws_availability_zones   = []
application_docker_image = ""
